<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudouj.dao.merchandise.MerchandiseAttributeValueMapper">
  <resultMap id="BaseResultMap" type="com.doudouj.dto.merchandise.MerchandiseAttributeValue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchandise_id" jdbcType="BIGINT" property="merchandiseId" />
    <result column="merchandise_attribute_id" jdbcType="BIGINT" property="merchandiseAttributeId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchandise_id, merchandise_attribute_id, value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchandise_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchandise_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.doudouj.dto.merchandise.MerchandiseAttributeValue">
    insert into merchandise_attribute_value (id, merchandise_id, merchandise_attribute_id, 
      value)
    values (#{id,jdbcType=BIGINT}, #{merchandiseId,jdbcType=BIGINT}, #{merchandiseAttributeId,jdbcType=BIGINT}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doudouj.dto.merchandise.MerchandiseAttributeValue">
    insert into merchandise_attribute_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchandiseId != null">
        merchandise_id,
      </if>
      <if test="merchandiseAttributeId != null">
        merchandise_attribute_id,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchandiseId != null">
        #{merchandiseId,jdbcType=BIGINT},
      </if>
      <if test="merchandiseAttributeId != null">
        #{merchandiseAttributeId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doudouj.dto.merchandise.MerchandiseAttributeValue">
    update merchandise_attribute_value
    <set>
      <if test="merchandiseId != null">
        merchandise_id = #{merchandiseId,jdbcType=BIGINT},
      </if>
      <if test="merchandiseAttributeId != null">
        merchandise_attribute_id = #{merchandiseAttributeId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doudouj.dto.merchandise.MerchandiseAttributeValue">
    update merchandise_attribute_value
    set merchandise_id = #{merchandiseId,jdbcType=BIGINT},
      merchandise_attribute_id = #{merchandiseAttributeId,jdbcType=BIGINT},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>